<head>
    {{ include('imports.php') }}

    <title>CRUDme</title>
</head>
<body>
    <header>
     {# Menu burger pour petit écan #}
     <div class="small-navbar">
        <nav role="nav" class="navbar">
        <div id="menuToggle">
            <!-- Hidden checkbox  -->
            <input type="checkbox" />
            
            <span></span>
            <span></span>
            <span></span>
            
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu">
            <a href="#"><li>Accueil</li></a>
            {% if session is defined %}
            <a href="#"><li>Tickets</li></a>
            <a href="#"><li>Profil</li></a>
            <a href="{{ path }}/?controller=User&action=disconnect"><li>Se déconnecter</li></a>
            {% else %}
            <a href="#"><li>Se connecter</li></a>
            {% endif %}
            </ul>
        </div>

        <div class="header-title">
            {% if session is defined %}
            <a class="nav-link navbar-brand"> Bonjour {{ session.user.pseudo }} </a>
            {% else %}
            <a class="nav-link navbar-brand" href="#">CRUDme</a>
            {% endif %}
            </div>
        </div>

        </nav>
            
        {# Header classique #}
        <div class="navbar-classique">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                {% if session is defined %}
                <a class="nav-link navbar-brand"> Bonjour {{ session.user.pseudo }} </a>
                {% else %}
                <a class="nav-link navbar-brand" href="#">CRUDme</a>
                {% endif %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
       
                {% if session is defined %}

                <a class="nav-link nav-connected nav-disconnect" href="{{ path }}/?controller=Ticket&action=getTickets">TODO</a>
                <a class="nav-link nav-connected nav-disconnect" href="{{ path }}/?controller=User&action=disconnect">Se deconnecter</a>
                <a class="nav-link nav-connected nav-profil" href="{{ path }}/?controller=User&action=profil">Profil</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                

                {% else %}

                <a class="nav-link" href="{{ path }}/?controller=User&action=loginForm">Login</a>

                {% endif %}
            </div>
        </nav>
        </div>
    </header>
</body>